$colors-brand: (
    primary: (
        base: #f9f6dd,
        dark: darken(#f9f6dd, 10%)
    ),
    woods: (
        base: #107246
    ),
    brights: (
        base: #ff431d
    )
);

$colors-gray: (
    primary: (
        lightest: #fff,
        light: #eee,
        base: #999,
        dark: #333,
        darkest: #000
    )
);

$colors-status: (
    success: (
        light: #dff0d8,
        base: #3c763d
    ),
    info: (
        light: #d9edf7,
        base: #31708f
    ),
    warning: (
        light: #fcf8e3,
        base: #8a6d3b
    ),
    error: (
        light: #f2dede,
        base: #a94442
    )
);
