{% extends 'layouts/default.njk' %}

{% block content %}
  <div class="main__title">
    <h1>Herfstmensje</h1>
  </div>
  <div class="main__content">
    <div class="container">
      <div class="grid">
        <div class="grid__item">
          <div class="item__content center-center item--large">
            <img src="images/dummy/image_1.jpg" alt="" class="item__img">
            <p class="item__text">
              They come in pairs ... and i can only hope for their friendships to last longer than their riots and fights.
              <span class="item__hashtag">
                #typography
              </span>
              <span class="item__hashtag">
                #usedfont
              </span>
              <span class="item__hashtag">
                #wip
              </span>
            </p>
          </div>
        </div>
        <div class="grid__item center-top">
          <div class="item__content item--medium">
            <img src="images/dummy/image_2.jpg" alt="" class="item__img">
            <p class="item__text">
              They come in pairs ... and i can only hope for their friendships to last longer than their riots and fights.
              <span class="item__hashtag">
                #typography
              </span>
              <span class="item__hashtag">
                #usedfont
              </span>
              <span class="item__hashtag">
                #wip
              </span>
            </p>
          </div>
        </div>
        <div class="grid__item center-center">
          <div class="item__content item--medium">
            <img src="images/dummy/image_3.jpg" alt="" class="item__img">
            <p class="item__text">
              Structures
              <span class="item__hashtag">
              </span>
            </p>
          </div>
        </div>
        <div class="grid__item center-top">
          <div class="item__content item--medium">
            <img src="images/dummy/image_4.jpg" alt="" class="item__img">
            <p class="item__text">
              New stuff from
              <span class="item__hashtag">
                #louen
              </span>
              <span class="item__hashtag">
                #loveit
              </span>
            </p>
          </div>
        </div>
        <div class="grid__item right-center">
          <div class="item__content item--small">
            <img src="images/dummy/image_5.jpg" alt="" class="item__img">
            <p class="item__text">
              A hint of blue
              <span class="item__hashtag">
                #outandabout
              </span>
            </p>
          </div>
        </div>
        <div class="grid__item left-center">
          <div class="item__content item--large">
            <img src="images/dummy/image_6.jpg" alt="" class="item__img">
            <p class="item__text">
              Little miss sunshine
              <span class="item__hashtag">
                #mysunshine
              </span>
              <span class="item__hashtag">
                #outandabout
              </span>
            </p>
          </div>
        </div>
        <div class="grid__item center-bottom">
          <div class="item__content item--medium">
            <img src="images/dummy/image_7.jpg" alt="" class="item__img">
            <p class="item__text">
              In space
              <span class="item__hashtag">
                #outandabout
              </span>
            </p>
          </div>
        </div>
        <div class="grid__item center-top">
          <div class="item__content item--large">
            <img src="images/dummy/image_8.jpg" alt="" class="item__img">
            <p class="item__text">
              Dragging ourselves through the first day of 2018
              <span class="item__hashtag">
                #ohhappyday
              </span>
            </p>
          </div>
        </div>
        <div class="grid__item left-center">
          <div class="item__content item--medium">
            <img src="images/dummy/image_9.jpg" alt="" class="item__img">
            <p class="item__text">
              Morningdrawings
              <span class="item__hashtag">
                #funwiththem
              </span>
            </p>
          </div>
        </div>
        <div class="grid__item right-center">
          <div class="item__content item--small">
            <img src="images/dummy/image_10.jpg" alt="" class="item__img">
            <p class="item__text">
              Good old ITC Avant Garde Gothic
              <span class="item__hashtag">
                #typography
              </span>
              <span class="item__hashtag">
                #usedfont
              </span>
              <span class="item__hashtag">
                #wip
              </span>
              <span class="item__hashtag">
                #herfstmensje_be
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
