{% extends 'layouts/default.njk' %}

{% block content %}
  <div class="main__title">
    <h1>Herfstmensje</h1>
  </div>
  <div class="main__content">
    <div class="container">
      <div class="grid">
        <div class="grid__col" style="background-color: red;"></div>
        <div class="grid__col" style="background-color: green;"></div>
        <div class="grid__col" style="background-color: blue;"></div>
        <div class="grid__col" style="background-color: red;"></div>
        <div class="grid__col" style="background-color: green;"></div>
        <div class="grid__col" style="background-color: blue;"></div>
        <div class="grid__col" style="background-color: red;"></div>
        <div class="grid__col" style="background-color: green;"></div>
        <div class="grid__col" style="background-color: blue;"></div>
        <div class="grid__col" style="background-color: red;"></div>
      </div>
    </div>
  </div>
{% endblock %}
