.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.grid {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(2, 1fr);
    //grid-template-rows: repeat(3, 0.45fr);
    grid-auto-flow: row dense;

    &__item {
        position: relative;
        width: 100%;
        min-height: 300px;
        display: grid;
        align-items: center;
        justify-items: center;

        transition: width 0.6s ease-in-out;

        @media (min-width: $breakpoint-md) {
            &::before {
                content: '';
                height: 0;
                display: inline-block;
                padding-top: 147%;
                width: 1px;
                position: relative;
            }
        }
    }

    @media (min-width: $breakpoint-md) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.item {
    &__content {
        @media (min-width: $breakpoint-md) {
            position: absolute;

            transition: all 0.6s ease-in-out;
        }
    }

    &__text {
        margin-top: 16px;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.2;

        @media (min-width: $breakpoint-sm) {
            font-size: 1.6rem;
            line-height: 1.3;
        }
    }

    &__hashtag {
        font-family: $font-family-alt;
        font-weight: 400;
        font-size: 1rem;

        cursor: pointer;

        @media (min-width: $breakpoint-sm) {
            font-size: 1.2rem;
        }
    }

    //sizes
    &--large {
        width: 87.5%;
    }

    &--medium {
        width: 62.5%;
    }

    &--small {
        width: 62.5%;

        @media (min-width: $breakpoint-md) {
            width: 37.5%;
        }
    }
}
